body{
    background-color: rgb(1, 148, 103);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: white;
    border: solid 0.2rem white;
    border-radius: 1rem;
    width: fit-content;
    padding: .5rem 1rem;
    margin: 1.5rem auto;
}

#game{
    max-width: 312px;
    margin: auto;

    display: grid;
    grid-template-columns:  102px 102px 102px;
    grid-template-rows:     102px 102px 102px;
    grid-gap: 1px;
}

#game .square{
    max-width: 102px;

    display: grid;
    grid-template-columns:  33px 33px 33px;
    grid-template-rows:     33px 33px 33px;
    grid-gap: 1px;

    border: solid 3px rgb(1, 148, 103);
}

*:focus {
    outline: none;
}

.field{
    background-color: white;
    color:rgb(1, 148, 103);
    vertical-align: middle;
    text-align: center;
    font-size: 1.6rem;

    border: none;
    box-sizing: border-box;
}

.field.disabled{
    color:rgb(1, 138, 148);
}

#game .field.invalid{
    color:rgb(200, 2, 1);
}

#game .field:not(.disabled){
    cursor:pointer;
}

#game .field.active{
    border: solid 2px rgb(1, 138, 148);
}